#modalSell {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

  #modalSell .modalContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #ffffff;
    width: 40vw;
    height: 50vh;
    border-radius: 1rem;
    z-index: 10000;
  }

    #modalSell .modalContainer .boxHeader {
      flex: 1;
    }

    #modalSell .modalContainer .boxBody {
      flex: 4;
      border-bottom: 1px solid #c4c4c4;
      border-top: 1px solid #c4c4c4;
    }

    #modalSell .modalContainer .boxFooter {
      flex: 1;
    }
