<section id="actionButtons">
  <div class="buttonContainer">
    <button (click)="openRegister(false, null)" type="button" class="btn btn-success">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
      Nova Venda
    </button>
  </div>
  <input (keyup)="search($event)" class="form-control mt-3 " type="search" placeholder="Busque por produto ou cliente" />


  <div class="tableContainer" *ngIf="vendas && !noFoundTerm">
    <table class='table table-striped mt-3' *ngIf="vendas">
      <thead>
        <tr>
          <th class="col-1" scope="row">Código</th>
          <th class="col-1"> Data</th>
          <th class="col-2">Cliente</th>
          <th class="col-2">Produto</th>
          <th class="col-1">Quantidade Produto</th>
          <th class="col-1">Valor Unitário do Produto</th>
          <th class="col-1">Valor total</th>
          <th class="col-3">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venda of vendas">
          <td class="text-center" scope="row">{{ venda.idVenda }}</td>
          <td> {{ venda.dthVenda | date : 'dd/MM/yyyy'}}</td>
          <td>{{ venda.nmCliente }}</td>
          <td>{{ venda.dscProduto }}</td>
          <td>{{ venda.qtdVenda }}</td>
          <td>{{ venda.vlrUnitario | currency :'BRL' }}</td>
          <td>{{ venda.vlrUnitarioVenda | currency :'BRL' }}</td>
          <td>
            <button (click)="openRegister(true, venda)" type="button" class="btn btn-primary mx-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
              Editar
            </button>
            <button (click)="deleteModal(venda)" type="button" class="btn btn-danger mx-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-octagon"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
              Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="noFoundTerm">
    <h3>Nenhum termo correspondente a sua pesquisa </h3>
  </div>
</section>

<div id="modalSell" *ngIf="showAddSell">
  <form [formGroup]="sellForm">
    <div class="form">
      <div class="title">Nova venda</div>
      <div class="input-container ic1 d-flex">
        <select id="idProduto" formControlName="idProduto" (change)="chargePrice($event)">
          <option value="" selected disabled>Selecione o produto</option>
          <option value="{{produto.idProduto}}" *ngFor="let produto of produtos"> {{produto.dscProduto}}</option>
        </select>
        <div class="cut"></div>
        <input formControlName="vlrUnitario" id="vlrUnitario" class="input" type="text" placeholder=" " value="{{selectValue}}" readonly />
        <label for="vlrUnitario" class="placeholderForm" style="position: absolute; left: 59% !important;">Valor Unitário</label>
      </div>
      <div class="input-container ic2">
        <input formControlName="qtdVenda" id="qtdVenda" class="input" type="number" min="1" placeholder=" " />
        <div class="cut"></div>
        <label for="qtdVenda" class="placeholderForm">Quantidade</label>
      </div>
      <div class="input-container ic1 d-flex mt-3">
        <select id="idCliente" formControlName="idCliente" style="width: 100%;">
          <option value="" selected disabled>Selecione o cliente</option>
          <option value="{{cliente.idCliente}}" *ngFor="let cliente of clientes"> {{cliente.nmCliente}}</option>
        </select>
      </div> <button (click)="showAddSell = false" type="button" class="submit mt-5"> Fechar </button> 
      <button *ngIf="!isEdit" (click)="onSubmit()" type="submit" class="submit my-3"> Salvar </button>
      <button *ngIf="isEdit" (click)="onSubmit()" type="submit" class="submit my-3"> Editar </button>
    </div>
  </form>
</div>

<div id="modalSell" *ngIf="showDeleteSell">
  <div class="form delete">
    <div class="title">Deletar venda</div>
    <div class="subtitle">Essa ação é irrevesrível você tem certeza?</div>

    <button (click)="onDelete()" type="button" class="submit my-3"> SIM </button>
    <button (click)="showDeleteSell = false" type="submit" class="submit my-3 bg-danger"> NÃO </button>
  </div>
</div>
