<h1>Olá, usuário!</h1>
<p>Bem vindo ao sistema de vendas da nossa empresa.</p>

<p>No que posso ser útil</p>
<ul>
  <li><strong><a class="nav-link text-dark" [routerLink]="['/cliente-page']">Clientes:</a></strong> Cadastre seus clientes e tenha uma listagem para facilitar sua organização.</li>
  <li><strong><a class="nav-link text-dark" [routerLink]="['/produto-page']">Produtos:</a></strong> Cadastre seus produtos e tenha uma listagem para facilitar sua organização. </li>
  <li><strong><a class="nav-link text-dark" [routerLink]="['/venda-page']">Vendas:</a></strong> Realize suas vendas e mantenha o cadastro sempre atualizados.</li>
</ul>

<p>Estamos sempre buscando melhorar nossos serviços. Quando possível nos mande feedbacks que nossa equipe logo se prestará para melhor atendê-los.</p>
